:root {
  --accent-color: #4d5ae5;
  --second-accent-color: #404bbf;
  --first-main-color: #2e2f42;
  --second-main-color: #434455;
  --additional-color: #f4f4fd;
  --main-backgroud-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-main-color);
  background-color: var(--main-backgroud-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
}

/* -------------------HEADER------- */
.header-class {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}

/* -------------------LOGO--------- */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.header-studio {
  color: var(--first-main-color);
}

/* -------------------NAV--------- */
.list {
  list-style: none;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-main-color);
  display: flex;
  gap: 40px;
}

.header-list-link {
  color: var(--first-main-color);
  padding: 24px 0;
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--second-accent-color);
}

/* -------------------ADRESS--------- */
.header-adress {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}
.header-adress .link:hover,
.header-adress .link:focus {
  color: var(--second-accent-color);
}

.header-adress-link {
  color: var(--second-main-color);
}

/* -------------------HERO--------- */
.hero {
  background-color: var(--first-main-color);
  padding: 188px 0;
}
.hero-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-backgroud-color);
  max-width: 496px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-backgroud-color);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero .link:hover,
.hero .link:focus {
  background-color: var(--second-accent-color);
}

/* -------------------Advantages--------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.advanteges {
  padding: 120px 0;
}

.advanteges-list {
  display: flex;
  gap: 24px;
}

.advanteges-items {
  flex-basis: calc((100% - 72px) / 4);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-main-color);
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
}

/* -------------------What are we doing--------- */
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-main-color);
}

/* -------------------Our Team--------- */
.team {
  background-color: var(--additional-color);
}

.team-item {
  background-color: var(--main-backgroud-color);
}

/* -------------------Footer--------- */
.footer {
  background-color: var(--first-main-color);
}

.footer-studio {
  color: var(--additional-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--additional-color);
}

/* -------------------Portfolio--------- */
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--additional-color);
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--second-accent-color);
  color: var(--main-backgroud-color);
}
